/* NAVBAR */
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu" !important;
  font-size: 2.5rem;
  font-weight: bolder;
}
.nav-item {
  padding: 0 18px;
}

/* TITLE */
body {
  font-style: "Montserrat";
}
#title {
  background-color: #fab20c;
}

.container-fluid {
  padding: 5% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  color: white;
}

.image-mobile {
  min-width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* 
FEATURE */
#features {
  padding: 10rem 5rem;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  padding: 2rem 0;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem !important;
}
.col > p {
  color: #8f8f8f;
}

.icons {
  color: #ffdb89;
  padding: 10px;
  font-size: 4rem;
}

.icons:hover {
  color: #fab20c;
}

/* Testimonials */
.testimonial {
  background-color: #ffdb89;
}
h2 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

/* press */

#press {
  background-color: #ffdb89;
  text-align: center;

}
.img-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Testimonials */

#testimonials {
  padding: 6rem;
}
.icon-bg {
  background-color: black;
  padding: 4% 5% 1%;
}

/* price */
#pricing {
  padding: 6rem;
  background-color: #fff;
}

#pricing > h2 {
  color: rgb(48, 47, 47);
}
.card-body > h3,
h2 {
  color: rgb(48, 47, 47);
}

@media (max-width: 1000px) {
  #title {
    text-align: center;
  }
  .image-mobile {
    margin-top: 30px;
    position: static;
    transform: rotate(0);
  }
}
/* 
Call to Action */

#cta {
  padding: 5% 20%;
  text-align: center;
  background-color: #fab20c;
}

#cta > h3 {
  font-family: "Montserrat" !important;
  text-align: center;
  line-height: 1.5;
  font-size: 3rem !important;
  padding: 2rem;
}

/* Footer */

#footer {
  padding: 5% 20%;
  text-align: center;
  background-color: #fff;
}

#footer > p {
  color: #8f8f8f;
}
#footer > i {
  margin: 10px;
}
